<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <![endif]-->
  <title>Portal Cautivo</title>
  <!-- BOOTSTRAP CORE CSS -->
  <link href="/static/css/bootstrap.css" rel="stylesheet" />
  <!-- ION ICONS STYLES -->
  <link href="/static/css/ionicons.css" rel="stylesheet" />
  <!-- FONT AWESOME ICONS STYLES -->
  <link href="/static/css/font-awesome.css" rel="stylesheet" />
  <!-- FANCYBOX POPUP STYLES -->
  <link href="/static/js/source/jquery.fancybox.css" rel="stylesheet" />
  <!-- STYLES FOR VIEWPORT ANIMATION -->
  <link href="/static/css/animations.min.css" rel="stylesheet" />
  <!-- CUSTOM CSS -->
  <link href="/static/css/style-green.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="/static/js/html5shiv.js"></script>
  <script src="/static/js/respond.min.js"></script>
  <![endif]-->
</head>
<body data-spy="scroll" data-target="#menu-section">
  <!--MENU SECTION START-->
  <div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section" >
    <div class="container">
	    <div class="navbar-header">
    	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    	    <span class="icon-bar"></span>
    	    <span class="icon-bar"></span>
    	    <span class="icon-bar"></span>
    	  </button>
    	  <a class="navbar-brand" href="#">
    	    Portal Cautivo
    	  </a>
	    </div>
    	<div class="navbar-collapse collapse">
    	  <ul class="nav navbar-nav navbar-right">
    	    <li><a href="#home">INICIO</a></li>
    	    <li><a href="#services">SERVICIOS</a></li>
    	    <li><a href="#team">EL EQUIPO</a></li>
    	    <li><a href="#login">INICIAR SESION</a></li>
    	  </ul>
    	</div>
    </div>
  </div>
  <!--MENU SECTION END-->

  <!--HOME SECTION START-->
  <div id="home" >
    <div class="container">
	    <div class="row">
    	  <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
    	    <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">
    	      <div class="carousel-inner">
    		      <div class="item active">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }} fade in">
                        <span type="button" class="close" data-dismiss="alert">&times;</span>
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

                <h3 style="font-size:30px; color:rgb(172, 253, 216);">Bienvenido(a)</h3>

          		  <p style="font-size:20px">
          		    Este es un punto de acceso WiFi gratuito
          		    que ofrece diferentes servicios a sus
          		    usuarios. Solamente necesitas registrar
                  tus datos solicitados en este portal
                  para hacer uso de ellos.
          		  </p>
    		      </div>
    	      </div>
    	    </div>
    	  </div>
    	</div>
    	<div class="row animate-in" data-anim-type="fade-in-up">
    	  <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
    	    <p  style="font-size:18px; color:rgb(172, 253, 216);">
    	      ¡Muchas gracias por conectarte y no dudes en ponerte en
    	      contacto con nosotros!
    	    </p>
    	    <a href="#services" class=" btn button-custom btn-custom-two">Ver servicios </a>
    	  </div>
    	</div>
    </div>
  </div>
  <!--HOME SECTION END-->

    <section id="services">
      <div class="container">
      	<div class="row text-center header animate-in" data-anim-type="fade-in-up">
      	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      	    <h3>Servicios</h3>
      	    <hr/>
      	  </div>
      	</div>
      	<div class="row text-center animate-in" data-anim-type="fade-in-up" id="services-div">
      	  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html">
      	    <div class="work-wrapper">
      	      <a class="fancybox-media" title="" href="/static/img/portfolio/logo_de_wi_fi.png">
      		      <img src="/static/img/portfolio/logo_de_wi_fi.png" class="img-responsive img-rounded" alt="" />
      	      </a>
      	      <h4>Acceso a Internet</h4>
      	    </div>
      	  </div>
      	</div>
      </div>
    </section>
    <!--WORK SECTION END-->

    <!--TEAM SECTION START-->
    <section id="team">
      <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
            <h3>El Equipo</h3>
            <hr/>
          </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="team-wrapper">
              <div class="description">
                <h3>Adrián Meléndez</h3>
                <h5> <strong style="color:#7BFFF9"> Publiwi </strong></h5>
                <p>
                  Fundador.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="team-wrapper">
              <div class="description">
                <h3>Jorge Luna</h3>
                <h5> <strong style="color:#7BFFF9"> Publiwi </strong></h5>
                <p>
                  Programador.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <div class="team-wrapper">
              <div class="description">
                <h3>Alfredo Anchondo</h3>
                <h5> <strong style="color:#7BFFF9"> Publiwi </strong></h5>
                <p>
                  Programador Web.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--TEAM SECTION END-->

    <!--CONTACT SECTION START-->
    <section id="login">
      <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Iniciar sesión</h3>
            <hr />
          </div>
        </div>

        <div class="row animate-in" data-anim-type="fade-in-up">

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="contact-wrapper">
              <h3>¿Ya estás registrado(a)?</h3>
              {% if login_errors %}
                <div class="form_errors">
                  Errores encontrados:
                  <ul>
                    {% for error in login_errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              <form method="POST" action="/login" class="form-login" id="login_form">
                <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
                <input name="goto" type="hidden" value="{{ request.args.get('goto', '') }}"/>
                <div class="form-group">
                  <div class="col-lg-12">
                    <div class="input-group">
                      <label for="username" class="sr-only">Nombre de usuario / Email</label>
                      <input type="email" name="username" class="form-control" placeholder="Nombre de usuario / Email" value="{{ request.form.username }}" required>
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="form-group">
                  <div class="col-lg-12">
                    <div class="input-group">
                      <label for="password" class="sr-only">Contraseña</label>
                      <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <br>
                <button style="width:100%" class="btn btn-large btn-success btn-block" type="submit">Iniciar sesión</button>
              </form>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="contact-wrapper">
              <h3>¿No eres usuario?</h3>
              {% if user_errors %}
                <div class="form_errors">
                  Errores encontrados:
                  <ul>
                    {% for error in user_errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              <form method="POST" action="/registration" class="form-registration" id="registration_form">
                <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                <div class="form-group">
                  <div class="col-lg-12">
                    <label for="first_name" class="sr-only">Nombre(s)</label>
                    <input type="text" name="first_name" class="form-control" placeholder="Nombre(s)" value="{{ request.form.first_name }}" required>
                  </div>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="form-group">
                  <div class="col-lg-12">
                    <label for="last_name" class="sr-only">Apellidos</label>
                    <input type="text" name="last_name" class="form-control" placeholder="Apellidos" value="{{ request.form.last_name }}" required>
                  </div>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="form-group">
                  <div class="col-lg-12">
                    <div class="input-group">
                      <label for="email" class="sr-only">Email</label>
                      <input type="email" name="email" class="form-control" placeholder="Email" value="{{ request.form.email }}" required>
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="form-group">
                  <div class="col-lg-12">
                    <div class="input-group">
                      <label for="password" class="sr-only">Contraseña</label>
                      <input type="password" id="user_password" name="password" class="form-control" placeholder="Contraseña" required>
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-12">
                    <span><i>(Mínimo 8 caractéres)</i></span>
                  </div>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="form-group">
                  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <label for="password_confirmation" class="sr-only">Confirmación de contraseña</label>
                    <input type="password" id="user_password_confirmation" name="password_confirmation" class="form-control" placeholder="Confirmación de contraseña" required>
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <i class="glyphicon glyphicon-ok" id="pwd-ok"></i>
                    <i class="glyphicon glyphicon-remove" id="pwd-wrong"></i>
                  </div>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="form-group">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label >Género</label>
                    <br/>
                    <label>M</label>
                    <input type="radio" name="gender" value="M" {%- if request.form.gender == 'M' -%}checked{% else %}required{% endif %}>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>F</label>
                    <input type="radio" name="gender" value="F" {%- if request.form.gender == 'F' -%}checked{% else %}required{% endif %}>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label for="age" class="sr-only">Edad</label>
                    <input type="age" name="age" class="form-control" placeholder="Edad" value="{{ request.form.age }}" required>
                  </div>
                </div>
                <div class="clearfix"></div>
                <br><br><br>
                <button style="width:100%" class="btn btn-large btn-success btn-block" type="submit">Regístrate</button>
              </form>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="contact-wrapper">
              <h3>Contacto</h3>
              <p>Email: contacto@publiwi.com</p>
              <p>Twitter: @publiwi</p>
            </div>
            <div class="contact-wrapper">
              <h3>Déjanos un comentario</h3>
              <form method="POST" action="/comment" class="form-login" id="comment_form">
                <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
                <div class="form-group">
                  <div class="col-lg-12">
                    <div class="input-group">
                      <label for="email" class="sr-only">Email</label>
                      <input type="email" name="email" class="form-control" placeholder="Email" required>
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="form-group">
                  <div class="col-lg-12">
                    <textarea name="text" class="form-control" placeholder="Texto" rows="3" required></textarea>
                  </div>
                </div>
                <div class="clearfix"></div>
                <br>
                <button style="width:100%" class="btn btn-large btn-success btn-block" type="submit">Enviar</button>
              </form>
            </div>
            <div class="footer-div" >
              &copy; 2016 Publiwi | <a href="http://www.designbootstrap.com/" target="_blank" >by DesignBootstrap</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--CONTACT SECTION END-->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME -->
    <!-- CORE JQUERY -->
    <script src="/static/js/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/static/js/bootstrap.js"></script>
    <!-- EASING SCROLL SCRIPTS PLUGIN -->
    <script src="/static/js/vegas/jquery.vegas.min.js"></script>
    <!-- VEGAS SLIDESHOW SCRIPTS -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <!-- FANCYBOX PLUGIN -->
    <script src="/static/js/source/jquery.fancybox.js"></script>
    <!-- ISOTOPE SCRIPTS -->
    <script src="/static/js/jquery.isotope.js"></script>
    <!-- VIEWPORT ANIMATION SCRIPTS   -->
    <script src="/static/js/appear.min.js"></script>
    <script src="/static/js/animations.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/static/js/custom.js"></script>
    {% if user_errors or login_errors %}
      <script type="text/javascript">
      $(function() {
        $('a[href=#login]').trigger('click');
      });
      </script>
    {% endif %}
  </body>
</html>
